.footer {
  background-color: var(--gray-color);
  color: whitesmoke;
  text-align: center;
  padding: 1rem 0;
}
.footer h4 {
  font-weight: 200;
  margin-top: 1rem;
}
.footer .footer-highlight {
  color: var(--yellow-color);
  margin-left: 5px;
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; 
}
.footer-circle-avatar {
  width: 40px;
  height: 40px;
  background-color: var(--yellow-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
}
.footer-circle-avatar:hover{
    transform: rotate(360deg);
}
.footer-icon {
  font-size: 20px; 
  cursor: pointer;
}
